*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-size: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
}

::selection {
    background-color: rgb(53, 78, 149);
}

body {
    margin: 0 0;
    font-family: "Bebas Neue";
    background: url('../assets/fone.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: 90px -90px 500px 250px rgba(14, 14, 16, 0.831) inset;
}

.main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.container {
    padding: 0 15px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.hidden-container {
    display: none !important;
    background-color: transparent;
    color: transparent;
    z-index: -100;
    opacity: 0;
}

.videoFone {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}