*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-size: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 0;
    font-family: "Bebas Neue";
    background: url('../assets/fone.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-shadow: 90px -90px 500px 250px rgba(14, 14, 16, 0.831) inset;
}

.main {
    width: 100%;
    overflow: hidden;
}

.container {
    padding: 0 15px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}