@font-face {
    font-family: "Bebas Neue";
    src: url('../assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: "Inter-regular";
    src: url('../assets/fonts/static/Inter-Regular.ttf');
}