.header {
    width: 100%;
}

.header__container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    img {
        width: 150px;
        height: auto;
    }
}

.header__nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 95%;
        color: #fff;
        transition: color .2s linear;

        &:hover {
            color: #FFC83D;
        }
    }
}

.header__list {
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        padding: 12px 24px;
    }
}

.header__btns {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    max-width: 270px;
    width: 100%;
}

.nav__burgermenu {
    display: none;
}

.remove__btn {
    display: none;
}